/* Font link */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
/* Default css */
* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

p,
button,
span,
a {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 82.5%;
  max-width: 1320px;
  margin: 0 auto;
}

/* banner-part start  */

.banner-part {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/banner-bg.png");
  border-radius: 16px;
  margin: 60px 0 100px 0;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-part .banner-content {
  text-align: center;
  padding: 150px;
}

.banner-part .banner-content h4 {
  color: #fff;
  font-family: Merriweather;
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 400;
}

.banner-part .banner-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* banner-part end  */

/* discount part start  */

.discount-part * {
  text-align: center;
}

.discount-part p.off-text {
  color: #f00;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}

.discount-part p.holiday-text {
  color: #f00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}

.discount-part p.catagory-text {
  color: #070211;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.discount-img {
  margin-bottom: 120px;
}

/* discount part end  */

/* midnight-part start  */

.midnight-part {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/midnight-bg.png");
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin: 60px 0 100px 0;
  background-position: center;
}

.midnight-title {
  max-width: 700px;
}

.midnight-part .party-heading {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin-bottom: 15px;
}

.midnight-part .party-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
  text-align: left;
}
/* Button style start */
.btn-1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-1:hover {
  background-color: red;
}

.btn-2 {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 20px;
  cursor: pointer;
  border: 1 px soli red;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  margin: 40px auto 0px;
  display: block;
  border: 1px solid red;
}

.btn-2:hover {
  background-color: white;
  color: red;
  border: 1px solid #f00;
}

.btn-3 {
  background-color: #f00;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 25px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 0px 50px 50px 0;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin: 0 auto;
}

.btn-3:hover {
  background-color: rgb(0, 0, 0);
  color: red;
  border: none;
}

/* Button style start */
/* midnight-part end  */

/* schedule-area start */
.schedule-area {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 100px;
  margin-bottom: 100px;
}

.schedule-area .schedule-datails * {
  text-align: center;
}

.schedule-datails p span {
  color: #f00;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-right: 5px;
}

.schedule-datails p {
  color: #070211;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

/* schedule-area end */

/* offer area start  */
.offer-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  margin-bottom: 100px;
}

.offer-section-new p span {
  color: #f00;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}

.offer-section-new h3 {
  color: #070211;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
  text-align: left;
}

.offer-section-new p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.offer-section-img img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid red;
  padding: 20px;
  text-align: left;
}
.offer-section-year h3 {
  color: #f00;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.offer-section-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 25px;
  text-align: left;
}
/* offer area end  */
/* holiday area start */
.holiday-text * {
  text-align: center;
}
.holiday-text {
  margin-bottom: 200px;
}
.holiday-text p.heading {
  color: #070211;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.holiday-text h2 span {
  color: #f00;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 15px;
}
.holiday-text h2 {
  color: #070211;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 15px;
}
.holiday-text p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 15px;
}
.holiday-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.holiday-images img {
  width: 100%;
}

.holiday-section-one {
  background: linear-gradient(0deg, #ff0000 30%, rgba(7, 2, 17, 0) 30%);
  width: 100%;
  height: 620px;
  margin-top: 100px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  background-repeat: no-repeat;
}
/* background: linear-gradient(
    180deg,
    rgba(255, 0, 0, -0.1) 0%,
    rgba(255, 0, 0) 100%
  ); */

/* background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  ); */

.holiday-section-one::before {
  position: absolute;
  content: "";
  background-image: url("../images/box.png");
  background-repeat: no-repeat;
  left: 0;
  bottom: -100px;
  width: 61%;
  height: 121%;
}
.holiday-section-one::after {
  position: absolute;
  content: "";
  background-image: url(../images/discount.png);
  background-repeat: no-repeat;
  top: 50px;
  right: 285px;
  width: 300px;
  height: 300px;
}
/* .holiday-section-two {
  background-image: url("../images/Rectangle\ 2.png");
  width: 100%;
  height: 537px;
  margin-top: 100px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  background-repeat: no-repeat;
} */
.holiday-section-one img {
  float: right;
  margin-top: 1px;
}
/* .holiday-images .holiday-left {
  position: absolute;
  top: 100%;
  bottom: 0;
} */
/* holiday area end */

/* portfolio area start */
.portfolio-area {
  margin: 150px 0 130px 0;
}
.portfolio-content span {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 15px;
}
.portfolio-content h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.portfolio-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}
.portfolio-content * {
  text-align: left;
}
.portfolio-images-up,
.portfolio-images-down {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.portfolio-img {
  position: relative;
  cursor: pointer;
}
.portfolio-img::before {
  position: absolute;
  content: "";
  top: 0;
  background-color: rgb(235, 17, 17);
  width: 0%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio-img:hover::before {
  opacity: 0.5;
  top: 0;
  width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.portfolio-img img {
  width: 100%;
}
/* portfolio area end */
/* newsletter-area start */
.newsletter-area {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 100px 140px;
  margin-bottom: 100px;
}
.newsletter-area .newsletter-img,
.newsletter-section h2,
p {
  text-align: center;
}
.newsletter-section h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.newsletter-section p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}
.newsletter-form {
  display: flex;
}
.newsletter-form form {
  display: flex;
  width: 500px;
  margin: 0 auto;
  height: 60px;
  position: relative;
}
.newsletter-form form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 21px 30px;
  border-radius: 50px;
  border: none;
  background: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.newsletter-form form button {
  position: absolute;
  top: -1px;
  right: -13%;
}

/* newsletter-area end */

/* footer area start */
.footer-bg {
  background: #070211;
  padding: 100px 0;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #fff;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0;
}
.footer-address,
.footer-contact p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.footer-address p.address {
  text-align: left;
}
.footer-contact p {
  text-align: left;
}
.footer-contact i {
  margin-right: 15px;
}
.footer-social-links {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid #fff;
}
.footer-social-links a {
  text-align: center;
  margin: 15px 25px;
}
.footer-details p.reserve {
  text-align: left;
}
.footer-details p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-details p.fl-right {
  text-align: right;
}

/* footer area end */
